<%= form_for(@contact_email, :html => {:class => ""}) do |f| %>
  <% if @contact_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_email.errors.count, "error") %> prevented your email from being sent:</h2>

      <ul>
      <% @contact_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="" id="emailFormName">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  </br>
  <div id="emailFormAddress">
    <%= f.label :address %><br />
    <%= f.email_field :address %>
  </div>
  </br>
  <div class="" id="emailFormSubject">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  </br>
  <div class="" id="emailFormBody">
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 50, :rows => 10 %>
  </div>
  </br>
  <div class="btn" id="emailFormSubmit">
    <%= f.submit %>
  </div>
<% end %>
