<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Jacob Dingus</title>
    <%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>

  </head>
  <body>
    <div id="wrap">

      <p class="flash"><%= flash[:message] %></p>
	     
            <!-- Fixed navbar -->
      <div id="navigationBar" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Jacob Dingus</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><%=link_to "Home", mainsite_index_path %></li>
                <li><%=link_to "About Me", mainsite_about_me_path %></li>
                <li><%=link_to "Webume", mainsite_webume_path %></li>
                <li><%=link_to "Useful Links", mainsite_useful_links_path %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      
      <div id="push"></div>

      <!-- Begin Page Content -->
      <%= yield %>
      
      </div>
        <!-- Footer -->
      <div id="footer">
        <div class="container">
          <p class="muted credit text-center">&copy; 2013</p>
        </div>
      </div>

    
  </body>
</html>
