<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Jacob Dingus</title>
    <%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  </head>
  <body>
    <div class="gridFullWidth">
      <p class="flash"><%= flash[:message] %></p>
	     <%= yield %>
    </div>
    <div id="footer" class="textRight gridFullWidth">&copy; 2012</div>
  </body>
</html>
